openapi: 3.2.0
info:
  title: Zoho Crm Actions API
  version: '1.0'
  description: 'Operations tagged Actions across 20 of this provider''s published API definitions: zoho-crm-associate-email-openapi.json, zoho-crm-cadences-execution-openapi.json, zoho-crm-change-owner-openapi.json, zoho-crm-fetch-full-data-openapi.json, zoho-crm-find-and-merge-openapi.json, zoho-crm-get-related-records-count-openapi.json, zoho-crm-inventory-convert-openapi.json, zoho-crm-mail-merge-openapi.json, zoho-crm-mass-change-owner-openapi.json, zoho-crm-mass-delete-cvid-openapi.json, zoho-crm-mass-update-openapi.json, zoho-crm-notifications-openapi.json, zoho-crm-portal-users-openapi.json, zoho-crm-record-openapi.json, zoho-crm-record-share-email-openapi.json, zoho-crm-send-mail-openapi.json, zoho-crm-share-records-openapi.json, zoho-crm-tags-actions-openapi.json, zoho-crm-territories-openapi.json, zoho-crm-unblock-email-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.zohoapis.com/crm/{version}
  description: Production Server (US)
  variables:
    version:
      default: v8
      description: API version
- url: https://zohoapis.{dc}/crm/{version}
  description: API Server URL
  variables:
    dc:
      description: API Server URL TLD
      default: com
      enum:
      - eu
      - com
      - au
      - in
      - jp
      - cn
      - ca
    version:
      description: API Version
      default: v8
- url: https://www.zohoapis.{dc}/crm/{version}
  description: API Server URL
  variables:
    dc:
      enum:
      - com
      - eu
      - in
      - cn
      - au
      default: com
      description: API Server URL TLD
    version:
      enum:
      - v8
      default: v8
      description: API version
tags:
- name: Actions
paths:
  /{module}/{recordId}/actions/associate_email:
    post:
      summary: Associate Email
      description: Associates emails to a specific record in a module.
      operationId: associateEmail
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.emails.CREATE
      parameters:
      - name: module
        in: path
        required: true
        description: The API name of the module (e.g., Leads, Contacts).
        schema:
          type: string
          maxLength: 100
      - name: recordId
        in: path
        required: true
        description: The unique ID of the record to associate the email with.
        schema:
          type: string
          maxLength: 100
      requestBody:
        description: Payload containing the email details to be associated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateEmailRequest'
      responses:
        '200':
          description: Email associated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ActionResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Actions
    servers:
    - url: https://www.zohoapis.com/crm/{version}
      description: Production Server (US)
      variables:
        version:
          default: v8
          description: API version
  /{module}/actions/unenrol_from_cadences:
    post:
      summary: Unenroll records from cadences
      description: Un-Enroll records from the cadences
      operationId: postUnenrolFromCadences
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.Leads.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Contacts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Accounts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Deals.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Tasks.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Events.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Calls.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Products.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Vendors.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Campaigns.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Cases.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Solutions.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Quotes.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Invoices.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Forecasts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Activities.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Notes.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Attachments.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.custom.CREATE
      parameters:
      - $ref: '#/components/parameters/Module'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCadencesRequest'
      responses:
        '200':
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcadencesResponse200'
        '207':
          description: Multi-Status — Response contains mixed status results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcadencesResponse207'
        '400':
          description: Bad Request - The request cannot be processed due to invalid syntax.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorResponseCore260315750'
                - $ref: '#/components/schemas/ErrorResponseCore1243473672'
                - $ref: '#/components/schemas/ErrorResponseCore814179042'
                - $ref: '#/components/schemas/ErrorResponseCore1362235056'
                - $ref: '#/components/schemas/ErrorResponseCore1414382895'
                - $ref: '#/components/schemas/ErrorResponseCore1137512454'
        '403':
          description: Forbidden - The client does not have access rights to the content.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorResponse403'
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          description: API Server URL TLD
          default: com
          enum:
          - eu
          - com
          - au
          - in
          - jp
          - cn
          - ca
        version:
          description: API Version
          default: v8
  /{module}/actions/enrol_in_cadences:
    post:
      summary: Enroll records into cadences
      description: API to enroll records into manual cadence
      operationId: postEnrolInCadences
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.Leads.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Contacts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Accounts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Deals.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Tasks.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Events.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Calls.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Products.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Vendors.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Campaigns.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Cases.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Solutions.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Quotes.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Invoices.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Forecasts.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Activities.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Notes.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.Attachments.CREATE
      - iam-oauth2-schema:
        - ZohoCRM.modules.custom.CREATE
      parameters:
      - $ref: '#/components/parameters/Module'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCadencesRequest'
      responses:
        '200':
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcadencesResponse200'
        '207':
          description: Multi-Status — Response contains mixed status results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcadencesResponse207'
        '400':
          description: Bad Request - The request cannot be processed due to invalid syntax.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorResponseCore260315750'
                - $ref: '#/components/schemas/ErrorResponseCore1243473672'
                - $ref: '#/components/schemas/ErrorResponseCore814179042'
                - $ref: '#/components/schemas/ErrorResponseCore1362235056'
                - $ref: '#/components/schemas/ErrorResponseCore1414382895'
                - $ref: '#/components/schemas/ErrorResponseCore1137512454'
        '403':
          description: Forbidden - The client does not have access rights to the content.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorResponse403'
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          description: API Server URL TLD
          default: com
          enum:
          - eu
          - com
          - au
          - in
          - jp
          - cn
          - ca
        version:
          description: API Version
          default: v8
  /{module}/{record}/actions/change_owner:
    post:
      summary: Change owner for a single record
      description: Updates the owner of a specific record in the module
      operationId: singleUpdate
      parameters:
      - $ref: '#/components/parameters/Module_2'
      - $ref: '#/components/parameters/Record'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for changing the owner of a record
              additionalProperties: false
              properties:
                owner:
                  type: object
                  description: The new owner information
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                      description: The ID of the new owner
                      maxLength: 19
                  required:
                  - id
                notify:
                  type:
                  - boolean
                  - 'null'
                  description: Whether to notify the new owner
                related_modules:
                  type: array
                  description: Related modules to update
                  maxItems: 5
                  items:
                    type: object
                    description: Related module information
                    additionalProperties: false
                    properties:
                      api_name:
                        type: string
                        description: The API name of the related module
                        enum:
                        - Tasks
                        - Events
                        - Calls
                        - Contacts
                        - Deals
                      id:
                        type: string
                        description: The ID of the related module record
                        maxLength: 19
              required:
              - owner
        required: true
      responses:
        '200':
          description: Success response with validation errors
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Successful owner change response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Response code indicating success
                      enum:
                      - SUCCESS
                    details:
                      type: object
                      description: Details of the updated record
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          description: The ID of the updated record
                          maxLength: 19
                      required:
                      - id
                    message:
                      type: string
                      description: Success message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the operation
                      enum:
                      - success
                  required:
                  - code
                  - details
                  - message
                  - status
        '400':
          description: Bad Request - Invalid input parameters or unsupported module
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Error response for unsupported operations or invalid module
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - NOT_SUPPORTED
                      - INVALID_DATA
                      - INVALID_MODULE
                    details:
                      type: object
                      description: Additional details about the error
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path that caused the error
                      required:
                      - resource_path_index
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Error response for invalid data or mandatory field not found
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - INVALID_DATA
                      - NOT_SUPPORTED
                      - MANDATORY_NOT_FOUND
                    details:
                      type: object
                      description: Additional details about the error
                      additionalProperties: false
                      properties:
                        api_name:
                          type: string
                          description: API name of the field that caused the error
                          maxLength: 200
                        json_path:
                          type: string
                          description: JSON path to the field that caused the error
                          maxLength: 500
                      required:
                      - api_name
                      - json_path
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Error response for missing expected fields
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - EXPECTED_FIELD_MISSING
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Details about the missing expected fields
                      additionalProperties: false
                      properties:
                        expected_fields:
                          type: array
                          description: List of expected fields that are missing
                          maxItems: 100
                          items:
                            type: object
                            description: Information about an expected field
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the expected field
                                maxLength: 200
                              json_path:
                                type: string
                                description: JSON path to the expected field
                                maxLength: 500
                            required:
                            - api_name
                            - json_path
                      required:
                      - expected_fields
                  required:
                  - code
                  - message
                  - status
                  - details
                - type: object
                  description: Error response for ambiguous data during processing
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - AMBIGUITY_DURING_PROCESSING
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Details about the ambiguity
                      additionalProperties: false
                      properties:
                        ambiguity_due_to:
                          type: array
                          description: List of fields causing ambiguity
                          maxItems: 100
                          items:
                            type: object
                            description: Information about a field causing ambiguity
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the field causing ambiguity
                                maxLength: 200
                              json_path:
                                type: string
                                description: JSON path to the field causing ambiguity
                                maxLength: 500
                            required:
                            - api_name
                            - json_path
                      required:
                      - ambiguity_due_to
                  required:
                  - code
                  - message
                  - status
                  - details
        '403':
          description: Forbidden - User does not have permission to perform this operation
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Error response when user lacks required permissions
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating permission denial
                      enum:
                      - NO_PERMISSION
                    message:
                      type: string
                      description: Error message describing the permission issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Additional details about missing permissions
                      additionalProperties: false
                      properties:
                        permissions:
                          type: array
                          description: List of required permissions that are missing
                          maxItems: 1
                          items:
                            type: string
                            description: Permission name
                            maxLength: 200
                      required:
                      - permissions
                  required:
                  - code
                  - message
                  - status
                  - details
      security:
      - iam-oauth2-schema:
        - ZohoCRM.change_owner.CREATE
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{module}/actions/change_owner:
    post:
      summary: Change owner for multiple records
      description: Updates the owner of multiple records in the module
      operationId: bulkChangeOwner
      parameters:
      - $ref: '#/components/parameters/Module_2'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for changing the owner of multiple records
              additionalProperties: false
              properties:
                ids:
                  type: array
                  description: Array of record IDs to change owner
                  maxItems: 500
                  items:
                    type: string
                    description: Record ID
                    maxLength: 19
                owner:
                  type: object
                  description: The new owner information
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                      description: The ID of the new owner
                      maxLength: 19
                  required:
                  - id
                notify:
                  type:
                  - boolean
                  - 'null'
                  description: Whether to notify the new owner
                related_modules:
                  type: array
                  description: Related modules to update
                  maxItems: 5
                  items:
                    type: object
                    description: Related module information
                    additionalProperties: false
                    properties:
                      api_name:
                        type: string
                        description: The API name of the related module
                        enum:
                        - Tasks
                        - Events
                        - Calls
                        - Contacts
                        - Deals
                      id:
                        type: string
                        description: The ID of the related module record
                        maxLength: 19
              required:
              - ids
              - owner
        required: true
      responses:
        '200':
          description: Success response with validation errors
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Successful owner change response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Response code indicating success
                      enum:
                      - SUCCESS
                    details:
                      type: object
                      description: Details of the updated record
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          description: The ID of the updated record
                          maxLength: 19
                      required:
                      - id
                    message:
                      type: string
                      description: Success message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the operation
                      enum:
                      - success
                  required:
                  - code
                  - details
                  - message
                  - status
        '400':
          description: Bad Request - Invalid input parameters or unsupported module
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Error response for unsupported operations or invalid module
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - NOT_SUPPORTED
                      - INVALID_DATA
                      - INVALID_MODULE
                    details:
                      type: object
                      description: Additional details about the error
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path that caused the error
                      required:
                      - resource_path_index
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Error response for invalid data or mandatory field not found
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - INVALID_DATA
                      - NOT_SUPPORTED
                      - MANDATORY_NOT_FOUND
                    details:
                      type: object
                      description: Additional details about the error
                      additionalProperties: false
                      properties:
                        api_name:
                          type: string
                          description: API name of the field that caused the error
                          maxLength: 200
                        json_path:
                          type: string
                          description: JSON path to the field that caused the error
                          maxLength: 500
                      required:
                      - api_name
                      - json_path
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Error response for missing expected fields
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - EXPECTED_FIELD_MISSING
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Details about the missing expected fields
                      additionalProperties: false
                      properties:
                        expected_fields:
                          type: array
                          description: List of expected fields that are missing
                          maxItems: 100
                          items:
                            type: object
                            description: Information about an expected field
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the expected field
                                maxLength: 200
                              json_path:
                                type: string
                                description: JSON path to the expected field
                                maxLength: 500
                            required:
                            - api_name
                            - json_path
                      required:
                      - expected_fields
                  required:
                  - code
                  - message
                  - status
                  - details
                - type: object
                  description: Error response for ambiguous data during processing
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of error
                      enum:
                      - AMBIGUITY_DURING_PROCESSING
                    message:
                      type: string
                      description: Error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Details about the ambiguity
                      additionalProperties: false
                      properties:
                        ambiguity_due_to:
                          type: array
                          description: List of fields causing ambiguity
                          maxItems: 100
                          items:
                            type: object
                            description: Information about a field causing ambiguity
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the field causing ambiguity
                                maxLength: 200
                              json_path:
                                type: string
                                description: JSON path to the field causing ambiguity
                                maxLength: 500
                            required:
                            - api_name
                            - json_path
                      required:
                      - ambiguity_due_to
                  required:
                  - code
                  - message
                  - status
                  - details
        '403':
          description: Forbidden - User does not have permission to perform this operation
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Error response when user lacks required permissions
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating permission denial
                      enum:
                      - NO_PERMISSION
                    message:
                      type: string
                      description: Error message describing the permission issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                    details:
                      type: object
                      description: Additional details about missing permissions
                      additionalProperties: false
                      properties:
                        permissions:
                          type: array
                          description: List of required permissions that are missing
                          maxItems: 1
                          items:
                            type: string
                            description: Permission name
                            maxLength: 200
                      required:
                      - permissions
                  required:
                  - code
                  - message
                  - status
                  - details
      security:
      - iam-oauth2-schema:
        - ZohoCRM.change_owner.CREATE
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{moduleApiName}/actions/fetch_full_data:
    get:
      summary: Fetch full data for multiple records
      operationId: fetchFullDataForMultipleRecords
      parameters:
      - $ref: '#/components/parameters/ModuleApiName'
      - $ref: '#/components/parameters/Fields'
        required: true
      - $ref: '#/components/parameters/Ids'
      description: Fetches the full content of rich text fields for multiple records. The 'fields' parameter is mandatory and supports a maximum of 8 rich text fields.
      responses:
        '200':
          description: Successful response containing the full content of rich text fields for the requested records.
          content:
            application/json:
              schema:
                type: object
                description: Response containing full content of rich text fields
                additionalProperties: false
                properties:
                  data:
                    type: array
                    description: Array of records with their rich text field content
                    maxItems: 200
                    items:
                      type: object
                      description: Record with rich text field values
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the record.
                          format: int64
                      additionalProperties:
                        type: string
                        description: The full content of a rich text field, including HTML formatting. The property name corresponds to the API name of the rich text field.
                        maxLength: 50000
                      required:
                      - id
                required:
                - data
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                description: Error response for multiple records fetch full data operation
                oneOf:
                - type: object
                  description: Invalid module error response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      enum:
                      - INVALID_MODULE
                      description: Error code indicating the module api name is invalid.
                    details:
                      type: object
                      description: Error details with resource path index
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path that caused the error.
                      required:
                      - resource_path_index
                    message:
                      type: string
                      description: Human-readable error message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Required parameter missing error response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      enum:
                      - REQUIRED_PARAM_MISSING
                      description: Error code indicating a required parameter is missing.
                    details:
                      type: object
                      description: Error details with parameter name
                      additionalProperties: false
                      properties:
                        param_name:
                          type: string
                          description: The name of the missing parameter.
                          maxLength: 100
                      required:
                      - param_name
                    message:
                      type: string
                      description: Human-readable error message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Invalid request error response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      enum:
                      - INVALID_REQUEST
                      description: Error code indicating the request is invalid.
                    details:
                      type: object
                      description: Additional details about the error.
                      additionalProperties: true
                    message:
                      type: string
                      description: Human-readable error message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.READ
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{moduleApiName}/{id}/actions/fetch_full_data:
    get:
      summary: Fetch full data for a single record
      operationId: fetchFullDataForSingleRecord
      parameters:
      - $ref: '#/components/parameters/ModuleApiName'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Id'
      description: Fetches the full content of rich text fields for a specific record. If the 'fields' parameter is not provided, all rich text fields in the module will be fetched.
      responses:
        '200':
          description: Successful response containing the full content of rich text fields for the requested records.
          content:
            application/json:
              schema:
                type: object
                description: Response containing full content of rich text fields
                additionalProperties: false
                properties:
                  data:
                    type: array
                    description: Array of records with their rich text field content
                    maxItems: 1
                    items:
                      type: object
                      description: Record with rich text field values
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the record.
                          format: int64
                      additionalProperties:
                        type: string
                        description: The full content of a rich text field, including HTML formatting. The property name corresponds to the API name of the rich text field.
                        maxLength: 50000
                      required:
                      - id
                required:
                - data
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                description: Error response for single record fetch full data operation
                oneOf:
                - type: object
                  description: Invalid module error response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      enum:
                      - INVALID_MODULE
                      description: Error code indicating the module api name is invalid.
                    details:
                      type: object
                      description: Error details with resource path index
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path that caused the error.
                      required:
                      - resource_path_index
                    message:
                      type: string
                      description: Human-readable error message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
                - type: object
                  description: Invalid request error response
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      enum:
                      - INVALID_REQUEST
                      description: Error code indicating the request is invalid.
                    details:
                      type: object
                      description: Additional details about the error.
                      additionalProperties: true
                    message:
                      type: string
                      description: Human-readable error message
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the response
                      enum:
                      - error
                  required:
                  - code
                  - details
                  - message
                  - status
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.READ
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{module}/{masterRecordId}/actions/merge:
    get:
      summary: Get Merge Job Status
      description: Retrieves the status of merge jobs for finding and tracking record merge operations in Zoho CRM modules.
      operationId: getMergeJobStatus
      parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/MasterRecordId'
      - $ref: '#/components/parameters/Module_3'
      responses:
        '200':
          description: Successfully retrieved merge job status information
          content:
            application/json:
              schema:
                type: object
                description: Response containing merge job status information
                additionalProperties: false
                properties:
                  merge:
                    type: array
                    description: Array of merge job status records
                    maxItems: 100
                    items:
                      type: object
                      description: Individual merge job status
                      additionalProperties: false
                      properties:
                        job_id:
                          type: string
                          description: Unique identifier of the merge job
                          pattern: ^[0-9]+$
                          maxLength: 50
                        status:
                          type: string
                          description: Current status of the merge job
                          enum:
                          - SCHEDULED
                          - running
                          - completed
                          - failed
                      required:
                      - job_id
                      - status
                required:
                - merge
        '204':
          description: No merge jobs found for the specified criteria
        '400':
          description: Bad request due to validation errors, invalid data, or business rule violations
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Standard error response for invalid data or record issues
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of failure
                      enum:
                      - INVALID_DATA
                      - INVALID_MODULE
                      - NOT_ALLOWED
                    details:
                      type: object
                      description: Additional error details with context information
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path parameter that caused the error
                        api_name:
                          type: string
                          description: API name of the field or resource that caused the error
                          maxLength: 100
                        json_path:
                          type: string
                          description: JSON path to the field that caused the error
                          maxLength: 200
                        maximum_length:
                          type: integer
                          format: int32
                          description: Maximum allowed length for the field
                        minimum_length:
                          type: integer
                          format: int32
                          description: Minimum required length for the field
                    message:
                      type: string
                      description: Human-readable error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the request
                      enum:
                      - error
                  required:
                  - code
                  - message
                  - status
                - type: object
                  description: Error response with merge array structure
                  additionalProperties: false
                  properties:
                    merge:
                      type: array
                      description: Array of error responses for merge operations
                      maxItems: 10
                      items:
                        type: object
                        description: Individual merge operation error
                        additionalProperties: false
                        properties:
                          code:
                            type: string
                            description: Error code for the specific merge operation
                            enum:
                            - MANDATORY_NOT_FOUND
                            - NOT_ALLOWED
                            - INVALID_DATA
                            - DUPLICATE_DATA
                            - DEPENDENT_FIELD_MISSING
                            - LIMIT_EXCEEDED
                          details:
                            type: object
                            description: Detailed error information for merge operation
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the field that caused the error
                                maxLength: 100
                              json_path:
                                type: string
                                description: JSON path to the problematic field
                                maxLength: 200
                              resource_path_index:
                                type: integer
                                format: int32
                                description: Index of the resource path parameter
                              maximum_length:
                                type: integer
                                format: int32
                                description: Maximum allowed length
                              minimum_length:
                                type: integer
                                format: int32
                                description: Minimum required length
                              MAXIMUM_SIZE:
                                type: string
                                description: Maximum size limit for files
                                maxLength: 50
                              limit_due_to:
                                type: array
                                description: Fields that caused the limit to be exceeded
                                maxItems: 20
                                items:
                                  type: object
                                  description: Field information for limit exceeded error
                                  additionalProperties: false
                                  properties:
                                    api_name:
                                      type: string
                                      description: API name of the field
                                      maxLength: 100
                                    json_path:
                                      type: string
                                      description: JSON path to the field
                                      maxLength: 200
                                  required:
                                  - api_name
                                  - json_path
                              data:
                                type: array
                                description: Data records with association information
                                maxItems: 10
                                items:
                                  type: object
                                  description: Record with association details
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      description: Record identifier
                                      pattern: ^[0-9]+$
                                      maxLength: 50
                                    _associated_places:
                                      type: array
                                      description: Associated places information
                                      maxItems: 50
                                      items:
                                        type: object
                                        description: Association information
                                        additionalProperties: false
                                        properties:
                                          type:
                                            type: string
                                            description: Type of association
                                            maxLength: 100
                                          resources:
                                            type: array
                                            description: Associated resources
                                            maxItems: 50
                                            items:
                                              type: object
                                              description: Resource information
                                              additionalProperties: false
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource identifier
                                                  pattern: ^[0-9]+$
                                                  maxLength: 50
                                                name:
                                                  type: string
                                                  description: Resource name
                                                  maxLength: 200
                                              required:
                                              - id
                                              - name
                                        required:
                                        - type
                                        - resources
                                  required:
                                  - id
                              dependee:
                                type: object
                                description: Dependent field information
                                additionalProperties: false
                                properties:
                                  api_name:
                                    type: string
                                    description: API name of the dependent field
                                    maxLength: 100
                                  json_path:
                                    type: string
                                    description: JSON path to the dependent field
                                    maxLength: 200
                                required:
                                - api_name
                                - json_path
                          message:
                            type: string
                            description: Error message for the merge operation
                            maxLength: 500
                          status:
                            type: string
                            description: Status of the merge operation
                            enum:
                            - error
                        required:
                        - code
                        - message
                        - status
                  required:
                  - merge
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.read
      tags:
      - Actions
    post:
      summary: Merge Records
      description: Merges duplicate records in Zoho CRM modules with field mapping and validation. Supports synchronous and asynchronous merge operations.
      operationId: mergeRecords
      parameters:
      - $ref: '#/components/parameters/MasterRecordId'
      - $ref: '#/components/parameters/Module_3'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for merging records with field mapping and validation
              additionalProperties: false
              properties:
                merge:
                  type: array
                  description: Array of merge operations to be performed
                  maxItems: 1
                  items:
                    type: object
                    description: Individual merge operation configuration
                    additionalProperties: false
                    properties:
                      data:
                        type: array
                        description: Array of child records to be merged (minimum 1, maximum 2)
                        minItems: 1
                        maxItems: 2
                        items:
                          type: object
                          description: Child record configuration for merge
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              description: Unique identifier of the child record to be merged
                              pattern: ^[0-9]+$
                              maxLength: 50
                            _fields:
                              type: array
                              description: Array of field configurations for the child record
                              maxItems: 100
                              items:
                                type: object
                                description: Field configuration for merge operation
                                additionalProperties: false
                                properties:
                                  api_name:
                                    type: string
                                    description: API name of the field to be configured
                                    maxLength: 100
                                  _data:
                                    oneOf:
                                    - type: array
                                      description: Array of file/image upload data
                                      maxItems: 50
                                      items:
                                        type: object
                                        description: File or image upload information
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                            description: Unique identifier of the file or image
                                            pattern: ^[0-9]+$
                                            maxLength: 50
                                        required:
                                        - id
                                    - type: 'null'
                                      description: No file data (will delete all files for this field)
                                required:
                                - api_name
                          required:
                          - id
                      master_record_fields:
                        type: array
                        description: Array of master record field configurations
                        maxItems: 100
                        items:
                          type: object
                          description: Master record field configuration
                          additionalProperties: false
                          properties:
                            api_name:
                              type: string
                              description: API name of the master record field
                              maxLength: 100
                            _data:
                              oneOf:
                              - type: array
                                description: Array of file/image upload data for master record
                                maxItems: 50
                                items:
                                  type: object
                                  description: File or image upload information for master record
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      description: Unique identifier of the file or image
                                      pattern: ^[0-9]+$
                                      maxLength: 50
                                  required:
                                  - id
                              - type: 'null'
                                description: No file data (will delete all files for this field)
                          required:
                          - api_name
                    required:
                    - data
              required:
              - merge
        required: true
      responses:
        '200':
          description: Records merged successfully
          content:
            application/json:
              schema:
                type: object
                description: Response for successful merge operation
                additionalProperties: false
                properties:
                  merge:
                    type: array
                    description: Array of merge operation results
                    maxItems: 1
                    items:
                      type: object
                      description: Individual merge operation result
                      additionalProperties: false
                      properties:
                        code:
                          type: string
                          description: Success code for the merge operation
                          enum:
                          - SUCCESS
                        details:
                          type: object
                          description: Details of the successful merge operation
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              description: ID of the merged record
                              pattern: ^[0-9]+$
                              maxLength: 50
                          required:
                          - id
                        message:
                          type: string
                          description: Success message for the merge operation
                          maxLength: 500
                        status:
                          type: string
                          description: Status of the merge operation
                          enum:
                          - success
                      required:
                      - code
                      - details
                      - message
                      - status
                required:
                - merge
        '201':
          description: Merge operation initiated - may be completed synchronously or scheduled asynchronously
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Response when merge operation is completed or scheduled
                  additionalProperties: false
                  properties:
                    merge:
                      type: array
                      description: Array of merge operation results
                      maxItems: 1
                      items:
                        oneOf:
                        - type: object
                          description: Successful merge completion response
                          additionalProperties: false
                          properties:
                            code:
                              type: string
                              description: Success code for completed merge
                              enum:
                              - SUCCESS
                            details:
                              type: object
                              description: Details of the completed merge operation
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  description: ID of the merged record
                                  pattern: ^[0-9]+$
                                  maxLength: 50
                              required:
                              - id
                            message:
                              type: string
                              description: Success message for the merge operation
                              maxLength: 500
                            status:
                              type: string
                              description: Status of the merge operation
                              enum:
                              - success
                          required:
                          - code
                          - details
                          - message
                          - status
                        - type: object
                          description: Scheduled merge operation response
                          additionalProperties: false
                          properties:
                            code:
                              type: string
                              description: Code indicating merge was scheduled
                              enum:
                              - SCHEDULED
                            details:
                              type: object
                              description: Details of the scheduled merge operation
                              additionalProperties: false
                              properties:
                                job_id:
                                  type: string
                                  description: Job ID for tracking the scheduled merge
                                  pattern: ^[0-9]+$
                                  maxLength: 50
                              required:
                              - job_id
                            message:
                              type: string
                              description: Message about the scheduled merge operation
                              maxLength: 500
                            status:
                              type: string
                              description: Status of the scheduling operation
                              enum:
                              - success
                          required:
                          - code
                          - details
                          - message
                          - status
                  required:
                  - merge
        '202':
          description: Records scheduled for merge
          content:
            application/json:
              schema:
                type: object
                description: Response for scheduled merge operation
                additionalProperties: false
                properties:
                  merge:
                    type: array
                    description: Array of scheduled merge operation results
                    maxItems: 1
                    items:
                      type: object
                      description: Individual scheduled merge operation result
                      additionalProperties: false
                      properties:
                        code:
                          type: string
                          description: Code indicating merge was scheduled
                          enum:
                          - SCHEDULED
                        details:
                          type: object
                          description: Details of the scheduled merge operation
                          additionalProperties: false
                          properties:
                            job_id:
                              type: string
                              description: Job ID for tracking the scheduled merge
                              pattern: ^[0-9]+$
                              maxLength: 50
                          required:
                          - job_id
                        message:
                          type: string
                          description: Message about the scheduled merge operation
                          maxLength: 500
                        status:
                          type: string
                          description: Status of the scheduling operation
                          enum:
                          - success
                      required:
                      - code
                      - details
                      - message
                      - status
                required:
                - merge
        '204':
          description: No content - merge operation completed without additional data to return
        '400':
          description: Bad request due to validation errors, invalid data, or business rule violations
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Standard error response for invalid data or record issues
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code indicating the type of failure
                      enum:
                      - INVALID_DATA
                      - INVALID_MODULE
                      - NOT_ALLOWED
                    details:
                      type: object
                      description: Additional error details with context information
                      additionalProperties: false
                      properties:
                        resource_path_index:
                          type: integer
                          format: int32
                          description: Index of the resource path parameter that caused the error
                        api_name:
                          type: string
                          description: API name of the field or resource that caused the error
                          maxLength: 100
                        json_path:
                          type: string
                          description: JSON path to the field that caused the error
                          maxLength: 200
                        maximum_length:
                          type: integer
                          format: int32
                          description: Maximum allowed length for the field
                        minimum_length:
                          type: integer
                          format: int32
                          description: Minimum required length for the field
                    message:
                      type: string
                      description: Human-readable error message describing the issue
                      maxLength: 500
                    status:
                      type: string
                      description: Status of the request
                      enum:
                      - error
                  required:
                  - code
                  - message
                  - status
                - type: object
                  description: Error response with merge array structure
                  additionalProperties: false
                  properties:
                    merge:
                      type: array
                      description: Array of error responses for merge operations
                      maxItems: 10
                      items:
                        type: object
                        description: Individual merge operation error
                        additionalProperties: false
                        properties:
                          code:
                            type: string
                            description: Error code for the specific merge operation
                            enum:
                            - MANDATORY_NOT_FOUND
                            - NOT_ALLOWED
                            - INVALID_DATA
                            - DUPLICATE_DATA
                            - DEPENDENT_FIELD_MISSING
                            - LIMIT_EXCEEDED
                          details:
                            type: object
                            description: Detailed error information for merge operation
                            additionalProperties: false
                            properties:
                              api_name:
                                type: string
                                description: API name of the field that caused the error
                                maxLength: 100
                              json_path:
                                type: string
                                description: JSON path to the problematic field
                                maxLength: 200
                              resource_path_index:
                                type: integer
                                format: int32
                                description: Index of the resource path parameter
                              maximum_length:
                                type: integer
                                format: int32
                                description: Maximum allowed length
                              minimum_length:
                                type: integer
                                format: int32
                                description: Minimum required length
                              MAXIMUM_SIZE:
                                type: string
                                description: Maximum size limit for files
                                maxLength: 50
                              limit_due_to:
                                type: array
                                description: Fields that caused the limit to be exceeded
                                maxItems: 20
                                items:
                                  type: object
                                  description: Field information for limit exceeded error
                                  additionalProperties: false
                                  properties:
                                    api_name:
                                      type: string
                                      description: API name of the field
                                      maxLength: 100
                                    json_path:
                                      type: string
                                      description: JSON path to the field
                                      maxLength: 200
                                  required:
                                  - api_name
                                  - json_path
                              data:
                                type: array
                                description: Data records with association information
                                maxItems: 10
                                items:
                                  type: object
                                  description: Record with association details
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      description: Record identifier
                                      pattern: ^[0-9]+$
                                      maxLength: 50
                                    _associated_places:
                                      type: array
                                      description: Associated places information
                                      maxItems: 50
                                      items:
                                        type: object
                                        description: Association information
                                        additionalProperties: false
                                        properties:
                                          type:
                                            type: string
                                            description: Type of association
                                            maxLength: 100
                                          resources:
                                            type: array
                                            description: Associated resources
                                            maxItems: 50
                                            items:
                                              type: object
                                              description: Resource information
                                              additionalProperties: false
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource identifier
                                                  pattern: ^[0-9]+$
                                                  maxLength: 50
                                                name:
                                                  type: string
                                                  description: Resource name
                                                  maxLength: 200
                                              required:
                                              - id
                                              - name
                                        required:
                                        - type
                                        - resources
                                  required:
                                  - id
                              dependee:
                                type: object
                                description: Dependent field information
                                additionalProperties: false
                                properties:
                                  api_name:
                                    type: string
                                    description: API name of the dependent field
                                    maxLength: 100
                                  json_path:
                                    type: string
                                    description: JSON path to the dependent field
                                    maxLength: 200
                                required:
                                - api_name
                                - json_path
                          message:
                            type: string
                            description: Error message for the merge operation
                            maxLength: 500
                          status:
                            type: string
                            description: Status of the merge operation
                            enum:
                            - error
                        required:
                        - code
                        - message
                        - status
                  required:
                  - merge
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.CREATE
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{moduleApiName}/{recordId}/actions/get_related_records_count:
    post:
      summary: Get Related Records Count
      description: Retrieves the count of related records for a specific parent record. Supports filtering by various criteria including approval status, conversion status, and custom field filters. This operation is useful for analytics and UI display purposes where you need to show counts without fetching the actual related records.
      operationId: getRelatedRecordsCount
      parameters:
      - $ref: '#/components/parameters/ModuleApiName_2'
      - $ref: '#/components/parameters/RecordId'
      requestBody:
        description: Request payload containing an array of related list specifications. Each item specifies a related list to count and optional filtering parameters to apply before counting. Supports filtering by field values, approval status, conversion status, and record categories.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRelatedRecordsCountRequest'
        required: true
      responses:
        '200':
          description: Successfully retrieved the count of related records. Returns an array containing count information for each requested related list, along with the related list identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRelatedRecordsCountResponse'
        '400':
          description: Bad Request. The request contains invalid data, such as missing required fields, invalid field values, unsupported operations, or malformed request structure. Error details will specify the exact validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      security:
      - iam-oauth2-schema:
        - ZohoCRM.modules.READ
      tags:
      - Actions
    servers:
    - url: https://zohoapis.{dc}/crm/{version}
      description: API Server URL
      variables:
        dc:
          enum:
          - com
          - eu
          - in
          - cn
          - au
          default: com
          description: API Server URL TLD
        version:
          default: v8
          description: API Version
  /{moduleApiName}/{id}/actions/convert:
    post:
      operationId: convertInventory
      summary: Convert an inventory record
      description: Converts the record into another inventory module type depending on the parent module:Quotes -> Sales Orders, Invoices :Sales Orders -> Invoices.
      parameters:
      - $ref: '#/components/parameters/ModuleApiName_3'
      - $ref: '#/components/parameters/Id_2'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request payload for inventory convert operation.
              additionalProperties: false
              properties:
                data:
                  type: array
                  description: Holds inventory convert record details.
                  maxItems: 1
                  items:
                    type: object
                    description: Holds inventory convert record details.
                    additionalProperties: false
                    properties:
                      convert_to:
                        type: array
                        description: Array of target module where the record to be converted.
                        maxItems: 1
                        items:
                          type: object
                          description: Holds target module details.
                          additionalProperties: false
                          properties:
                            module:
                              type: object
                              description: Holds target module details.
                              additionalProperties: false
                              properties:
                                api_name:
                                  type: string
                                  description: API name of the target module
                                  enum:
                                  - Invoices
                                  - Sales_Orders
                                id:
                                  type: string
                                  maxLength: 255
                                  description: Unique ID of the target module
                              required:
                              - api_name
                              - id
                            carry_over_tags:
                              type: boolean
                              description: Defines whether the tags in the source module to get converted to the target module
                          required:
                          - module
                    required:
                    - convert_to
        required: true
      responses:
        '200':
          description: Conversion successful.
          content:
            application/json:
              schema:
                type: object
                description: Successfully converted response
                additionalProperties: false
                properties:
                  data:
                    type: array
                    description: Successfully converted response
                    maxItems: 1
                    items:
                      type: object
                      description: Successfully converted response
                      additionalProperties: false
                      properties:
                        code:
                          type: string
                          description: success
                          enum:
                          - SUCCESS
                        message:
                          type: string
                          description: Converted response message
                          enum:
                          - The record has been converted successfully
                        status:
                          type: string
                          description: success status
                          enum:
                          - success
                        details:
                          type: object
                          description: Details of the converted record
                          additionalProperties: false
                          properties:
                            Sales_Orders:
                              type: object
                              description: Details of the salesorders converted record
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  maxLength: 255
                                  description: Unique ID of the converted target record
                                name:
                                  type: string
                                  maxLength: 50
                                  description: Display name of the converted target record
                            Invoices:
                              type: object
                              description: Details of the invoice converted record
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  maxLength: 255
                                  description: Unique ID of the converted target record
                                name:
                                  type: string
                                  maxLength: 50
                                  description: Display name of the converted target record
        '400':
          description: Bad Request — input validation or request-level errors.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Validation error response.
                  additionalProperties: false
                  properties:
                    code:
                      type: string
                      description: Error code.
                      enum:
                      - INVALID_DATA
                      - MANDATORY_NOT_FOUND
                      - ID_ALREADY_CONVERTED
                      - NO_PERMISSION
                      - AMBIGUITY_DURING_PROCESSING
                      - EXPECTED_FIELD_MISSING
                      - INVALID_REQUEST_METHOD
                      - NOT_APPROVED
                      - NOT_REVIEWED
                      - RECORD_LOCKED
                      maxLength: 100
                    message:
                      type: string
                      description: Human-readable error message.
                      maxLength: 512
                    status:
                      type: string
                      description: Error status category.
                      enum:
                      - error
                      maxLength: 50
                    details:
                      type: object
                      description: Additional error detail (field-level info, json path, expected types, limits, etc.).
                      additionalProperties: true
                  required:
                  - code
                  - message
                  - status
                  - details
                - type: object
                  description: Validation error response.
                  additionalProperties: false
                  properties:
                    data:
                      type: array
                      description: error response
                      items:
                        type: object
                        description: data for the error response
                        additionalProperties: false
                        properties:
                          code:
                            type: string
                            description: Error code.
                            enum:
                            - AMBIGUITY_DURING_PROCESSING
                            - EXPECTED_FIELD_MISSING
                            - NOT_ALLOWED
                            - INVALID_DATA
                            - DUPLICATE_DATA
                            maxLength: 100
                          message:
                            type: string
                            description: Human-readable error message.
                            maxLength: 512
                          status:
                            type: string
                            description: Error status category.
                            enum:
                            - error
                            maxLength: 50
                          details:
                            type: object
                            description: Additional error detail (field-level info, json path, expected types, limits, etc.).
                            additionalProperties: true
                        required:
                        - code
                        - message
                        - status
                        - details
                      maxItems: 4
                  required:
                  - data
                description: Possible 400 response shapes for validation and related errors.
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Permission denied
                  additionalProperties: false
                  properties:
                    data:
                      type: array
                      description: Permission denied
                      maxItems: 4
                      items:
                        type: object
                        description: Permission denied
                        additionalProperties: false
                        properties:
                          code:
                            type: string
                            description: Error code.
                            enum:
                            - NO_PERMISSION
                          details:
                            type: object
                            description: Optional details object.
                            additionalProperties: true
                          message:
                            type: string
                            description: Human-readable message.
                            maxLength: 512
                          status:
                            type: string
[...]
